@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('RobotoMono-Regular'),
    url("../../fonts/RobotoMono-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Oswald-Regular'),
    url("../../fonts/Oswald-Regular.woff2") format("woff2")
}

@font-face {
  font-family: 'Furore';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Furore-Regular'),
    url("../../fonts/Furore-Regular.woff2") format("woff2")
}